<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Clientes</title>
  <script src="../assets/js/menu.js"></script>
  <link rel="stylesheet" href="../assets/styles/css/menu.css">
  <link rel="stylesheet" href="../assets/styles/css/header.css">
  <link rel="stylesheet" href="../assets/styles/css/main.css">
  <link rel="stylesheet" href="../assets/styles/css/pg-users.css">
  <link href="https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="bg-blue">
    </div>
    <div class="bg-yellow">
    </div>
  </header>
  <main class="main">
    <nav class="sidebar">
        <ul class="sidebar__nav">
          <li class="nav__item hide-children">
            <span class="item__title">
              Cadastros 
              <img class="title__icon" src="../assets/svgs/arrow-down.svg" alt="arrow down">
            </span>
            <ul class="item__subnav">
              <li class="subnav__item">
                <a class="item__link" href="/">Clientes</a>
              </li>
              <li class="subnav__item">
                <a class="item__link" href="/">Produtos</a>
              </li>
              <li class="subnav__item">
                <a class="item__link" href="../views/usuario.html">Usuários</a>
              </li>
            </ul>
          </li>
          <li class="nav__item hide-children">
            <span class="item__title">
              Cadastros 
              <img class="title__icon" src="../assets/svgs/arrow-down.svg" alt="arrow down">
            </span>
            <ul class="item__subnav">
              <li class="subnav__item">
                <a class="item__link" href="/">Clientes</a>
              </li>
              <li class="subnav__item">
                <a class="item__link" href="/">Produtos</a>
              </li>
              <li class="subnav__item">
                <a class="item__link" href="../views/usuario.html">Usuários</a>
              </li>
            </ul>
          </li>
        </ul>
        <img src="../assets/images/logo.png" alt="netuno">
    </nav>
    <section class="main__page-content right-container">
      <div class="page-content__title">
        <h1 class="title__text">Produtos</h1>
        <button type="button" class="title__include">
          <img src="../assets/svgs/plus-square.svg" alt="+">
          Incluir Registro
        </button>
      </div>

      <form class="page-content__inputs inputs-group">
        <label class="input-container input-container-10">
          Código
          <input name="codigo" type="email" class="input-container__input">
        </label>
        <label class="input-container input-container-40">
          Nome
          <input name="nome" type="text" class="input-container__input">
        </label>
        <label class="input-container input-container-30">
          Categoria
          <input name="categoria" type="email" class="input-container__input">
        </label>
        <button type="submit" class="inputs__search">
          <img src="../assets/svgs/search-icon.svg" alt="buscar">
          Buscar
        </button>
      </form>

      <table class="page-content__table"  border="0" cellpadding="0" cellspacing="0">
        <tr align="center">
          <th>Cód.</th>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Ação</th>
        </tr>
        <tr align="center">
          <td>1</td>
          <td>Rolex de ouro</td>
          <td>Luxuosos</td>
          <td width="390">
            <button class="table__button table__edit" type="button">
              <img src="../assets/svgs/edit-icon.svg" alt="editar">
              Alterar
            </button>
            <button class="table__button table__remove" type="button">
              <img src="../assets/svgs/trash-icon.svg" alt="remover">
              Excluir
            </button>
          </td>
        </tr>
        <tr align="center">
          <td>1</td>
          <td>Porsche 718</td>
          <td>Carros simples</td>
          <td width="390">
            <button class="table__button table__edit" type="button">
              <img src="../assets/svgs/edit-icon.svg" alt="editar">
              Alterar
            </button>
            <button class="table__button table__remove" type="button">
              <img src="../assets/svgs/trash-icon.svg" alt="remover">
              Excluir
            </button>
          </td>
        </tr>
        <tr align="center">
          <td>1</td>
          <td>Camaro SS</td>
          <td>Carros simples</td>
          <td width="390">
            <button class="table__button table__edit" type="button">
              <img src="../assets/svgs/edit-icon.svg" alt="editar">
              Alterar
            </button>
            <button class="table__button table__remove" type="button">
              <img src="../assets/svgs/trash-icon.svg" alt="remover">
              Excluir
            </button>
          </td>
        </tr>
        <tr align="center">
          <td>1</td>
          <td>Porsche Panamera</td>
          <td>Carros simples</td>
          <td width="390">
            <button class="table__button table__edit" type="button">
              <img src="../assets/svgs/edit-icon.svg" alt="editar">
              Alterar
            </button>
            <button class="table__button table__remove" type="button">
              <img src="../assets/svgs/trash-icon.svg" alt="remover">
              Excluir
            </button>
          </td>
        </tr>
        <tr align="center">
          <td>1</td>
          <td>Porsche 911</td>
          <td>Carros simples</td>
          <td width="390">
            <button class="table__button table__edit" type="button">
              <img src="../assets/svgs/edit-icon.svg" alt="editar">
              Alterar
            </button>
            <button class="table__button table__remove" type="button">
              <img src="../assets/svgs/trash-icon.svg" alt="remover">
              Excluir
            </button>
          </td>
        </tr>
      </table>
    </section>
  </main>
</body>
</html>