<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de usuário</title>
</head>
<body>
  <header>

  </header>
  <main>
    <section>

    </section>
    <section>
      <div>
        <h1>Usuários</h1>
        <button type="button">
          Incluir Registro
        </button>
      </div>
      <div>
        <label>
          Login
          <input type="text">
        </label>
        <label>
          E-mail
          <input type="text">
        </label>
        <button type="button">
          Buscar
        </button>
      </div>
      <table>
        <tr>
          <th>Cód.</th>
          <th>Login</th>
          <th>E-mail</th>
          <th>Ação</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Administrador</td>
          <td>Admin@gmail.com</td>
          <td>
            <button type="button">Alterar</button>
            <button type="button">Excluir</button>
          </td>
        </tr>
        <tr>
          <td>February</td>
          <td>$80</td>
        </tr>
      </table>
    </section>
  </main>
</body>
</html>