<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de usuário</title>
  <script src="../assets/js/menu.js"></script>
  <link rel="stylesheet" href="../assets/styles/css/menu.css">
  <link rel="stylesheet" href="../assets/styles/css/header.css">
  <link rel="stylesheet" href="../assets/styles/css/main.css">
  <link rel="stylesheet" href="../assets/styles/css/pg-users.css">
  <link href="https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="bg-blue">
    </div>
    <div class="bg-yellow">
    </div>
  </header>
  <main class="main">
    <nav class="sidebar">
        <ul class="sidebar__nav">
          <li class="nav__item hide-children">
            <span class="item__title">
              Cadastros 
              <img class="title__icon" src="../assets/svgs/arrow-down.svg" alt="arrow down">
            </span>
            <ul class="item__subnav">
              <li class="subnav__item">
                <a class="item__link" href="/">Clientes</a>
              </li>
              <li class="subnav__item">
                <a class="item__link" href="/">Produtos</a>
              </li>
              <li class="subnav__item">
                <a class="item__link" href="../views/usuario.html">Usuários</a>
              </li>
            </ul>
          </li>
          <li class="nav__item hide-children">
            <span class="item__title">
              Cadastros 
              <img class="title__icon" src="../assets/svgs/arrow-down.svg" alt="arrow down">
            </span>
            <ul class="item__subnav">
              <li class="subnav__item">
                <a class="item__link" href="/">Clientes</a>
              </li>
              <li class="subnav__item">
                <a class="item__link" href="/">Produtos</a>
              </li>
              <li class="subnav__item">
                <a class="item__link" href="../views/usuario.html">Usuários</a>
              </li>
            </ul>
          </li>
        </ul>
        <img src="../assets/images/logo.png" alt="netuno">
    </nav>
    <section class="main__page-content right-container">
      <div class="page-content__title">
        <h1 class="title__text">Usuários</h1>
        <button type="button" class="title__include">
          <img src="../assets/svgs/plus-square.svg" alt="+">
          Incluir Registro
        </button>
      </div>
      <form class="page-content__inputs">
        <label class="input-container inputs__login">
          Fantasia*
          <input type="text" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Razão Social*
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Pessoa*
          <select name="" id=""></select>
        </label>
        <label class="input-container inputs__email">
          CPF/CNPJ*
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          E-mail*
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Telefone
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Celular
          <input type="email" class="input-container__input">
        </label>
        <hr>
        <label class="input-container inputs__email">
          CEP*
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Endereço*
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Número*
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Estado*
          <select name="" id=""></select>
        </label>
        <label class="input-container inputs__email">
          Cidade*
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Complemento
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Refêrencia
          <input type="email" class="input-container__input">
        </label>
        <label class="input-container inputs__email">
          Observação
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </label>
        <label class="input-container inputs__email">
          <input type="checkbox" name="" id="">
          Inativo
        </label>
        <button type="submit">Salvar</button>
        <button type="button">Limpar</button>
      </form>
      
    </section>
  </main>
</body>
</html>