*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rhodium Libre', serif;
}

:root{
  --blue: #2397D4;
  --yellow: #F0C419;
  --white: #E5E5E5;
}

.main {
  display: flex;
}

.blue-button {
  color: white;
  background: #2397D4;
}

.white-button {
  color: #2397D4;
  background: white;
  border: 1px solid #2397D4;
}

.right-container {
  width: 100%;
  margin-left: 35px;
  margin-right: 20px;
}

.checkbox-container {
  display: flex;
  font-size: 22px;
  align-items: center;
  input {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.inputs-group {
  display: flex;
  margin-bottom: 15px;
}

.ml {
  margin-left: 15px;
}

.mt {
  margin-top: 15px;
}

.mr {
  margin-right: 15px;
}

.mb {
  margin-bottom: 15px;
}

.input-container {
  display: flex;
  font-size: 25px;
  margin-right: 15px;
  flex-direction: column;

  input, select {
    height: 42px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
  }

  &-no-margin {
    margin-right: 0;
  }

  &-10 {
    width: 10%;
  }

  &-20 {
    width: 20%;
  }

  &-30 {
    width: 30%;
  }

  &-40 {
    width: 40%;
  }

  &-45 {
    width: 45%;
  }

  &-50 {
    width: 50%;
  }

  &-60 {
    width: 60%;
  }

  &-70 {
    width: 70%;
  }

  &-80 {
    width: 80%;
  }

  &-90 {
    width: 90%;
  }

  &-100 {
    width: 100%;
  }
}

.divider {
  margin: 30px 15px 15px 0;
  border: 1px solid black;
}

.page-title {
  font-size: 50px;
  font-weight: normal;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
  padding: 5px 20px;
  &:active {
    opacity: 0.6;
  }
}