*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rhodium Libre', serif;
}

:root{
  --blue: #2397D4;
  --yellow: #F0C419;
  --white: #E5E5E5;
}

.right-container {
  margin-left: 270px;
}

.input-container {
  display: flex;
  font-size: 30px;
  flex-direction: column;
  &__input {
    padding: 10px;
    border-radius: 5px;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  &:active {
    opacity: 0.6;
  }
}