.main {
  &__page-content {
    margin-top: 20px;
    margin-right: 30px;
    .page-content {
      &__title {
        display: flex;
        justify-content: space-between;
      }
      &__inputs {
        display: flex;
      }
      &__table {
        width: 100%;
        border-radius: 10px;
        tr {
          height: 70px;
          border-radius: 10px;
          &:nth-child(1n) {
            background: #F8F5F5;
          }
          &:nth-child(2n) {
            background: #C4C4C4;
          }

          &:last-of-type {
            td {
              &:first-of-type {
                border-radius: 0 0 0 10px;
              }
              &:last-of-type {
                border-radius: 0 0 10px 0;
              }
            }
          }
        }
        th {
          &:first-of-type {
            border-radius: 10px 0 0 0;
          }
          &:last-of-type {
            border-radius: 0 10px 0 0;
          }
        }
        
      }
    }
  }
}