<nav class="sidebar">
  <ul class="sidebar__nav">
    <li class="nav__item hide-children">
      <span class="item__title">
        Cadastros
        <img
          class="title__icon"
          src="../assets/svgs/arrow-down.svg"
          alt="arrow down"
        />
      </span>
      <ul class="item__subnav">
        <li class="subnav__item">
          <a class="item__link" href="/">Clientes</a>
        </li>
        <li class="subnav__item">
          <a class="item__link" href="/">Produtos</a>
        </li>
        <li class="subnav__item">
          <a class="item__link" href="../../../backend/usuarioconsultar.php"
            >Usuários</a
          >
        </li>
      </ul>
    </li>
    <li class="nav__item hide-children">
      <span class="item__title">
        Cadastros
        <img
          class="title__icon"
          src="../assets/svgs/arrow-down.svg"
          alt="arrow down"
        />
      </span>
      <ul class="item__subnav">
        <li class="subnav__item">
          <a class="item__link" href="/">Clientes</a>
        </li>
        <li class="subnav__item">
          <a class="item__link" href="/">Produtos</a>
        </li>
        <li class="subnav__item">
          <a class="item__link" href="../../../backend/usuarioconsultar.php"
            >Usuários</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <img src="../assets/images/logo.png" alt="netuno" />
</nav>
