<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/css/menu.css">
    <link href="https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap" rel="stylesheet">
    <title>Menu</title>
    <script src="../assets/js/menu.js"></script>

  </head>
  <body>
    <nav class="sidebar">
      <ul class="sidebar__nav">
        <li class="nav__item hide-children">
          <span class="item__title">
            Cadastros 
            <img class="title__icon" src="../assets/svgs/arrow-down.svg" alt="arrow down">
          </span>
          <ul class="item__subnav">
            <li class="subnav__item">
              <a class="item__link" href="/">Clientes</a>
            </li>
            <li class="subnav__item">
              <a class="item__link" href="/">Produtos</a>
            </li>
            <li class="subnav__item">
              <a class="item__link" href="../views/usuario.html">Usuários</a>
            </li>
          </ul>
        </li>
        <li class="nav__item hide-children">
          <span class="item__title">
            Cadastros 
            <img class="title__icon" src="../assets/svgs/arrow-down.svg" alt="arrow down">
          </span>
          <ul class="item__subnav">
            <li class="subnav__item">
              <a class="item__link" href="/">Clientes</a>
            </li>
            <li class="subnav__item">
              <a class="item__link" href="/">Produtos</a>
            </li>
            <li class="subnav__item">
              <a class="item__link" href="../views/usuario.html">Usuários</a>
            </li>
          </ul>
        </li>
      </ul>
      <img src="../assets/images/logo.png" alt="netuno">
    </nav>
  </body>

  
</html>